@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

body {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    color: #616161;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: clip;
}
.wrapper > main {
    flex: 1 1 auto;
}

section:nth-child(odd) {
    background-color: #FAFBFD;
}
.header {
}
.page {
}
.footer {
}

[class*="__container"] {
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px;
}

/* PC */
@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
/* Tablet */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
/* Mobile */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: 550px;
    }
}
/* Mobile Small */
@media (max-width: 424.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

/* Component */

.content-block {
}
.content-block__title {
    color: #000;
    font-size: 44px;
    font-weight: 700;
    line-height: 125%; /* 55/44 */
}
.content-block__title:not(:last-child) {
    margin-bottom: 12px;
}
.content-block__title-blue span {
    color: #4285f4;
}
.content-block__title-red span {
    color: #EC5863;
}
.content-block__text {
    line-height: 141.666667%; /* 17/12 */
    letter-spacing: 1px;
}
.content-block__text:not(:last-child) {
    margin-bottom: 24px;
}
.content-block__button {
}
@media (max-width: 479.98px) {
    .content-block {
        text-align: center;
    }
    .content-block__title {
        font-size: 34px;
    }
}

/* Header section */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
}
.header__logo img {
    width: 100%;
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu__list {
    display: flex;
    gap: 40px;
    padding-right: 38px;
}
.menu__list-item {
}
.menu__list-link {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    line-height: 120%; /* 12/10 */
    transition: color 0.3s;
}

.menu__list-link:hover {
    color: #EC5863;
}
.header__button {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 252px;
}
.button {
    display: inline-block;
    padding: 14px 30px;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 800;
    color: #FCFDFE;
    letter-spacing: 1px;
    line-height: 120%; /* 12/10 */
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #EC5863;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #ff0011;
}
.button-blue {
    background-color: #4285F4;
}

.button-blue:hover {
    background-color: #0062ff;
}

@media (max-width: 991.98px) {
    .header__container {
        min-height: 80px;
    }
    .menu__list {
        gap: 30px;
        padding-right: 30px;
    }
    .header__button {
        flex: 0 0 172px;
    }
}

@media (max-width: 767.98px) {
    .header__container {
        row-gap: 20px;
        padding: 20px 15px;
    }
    .header__container {
        flex-wrap: wrap;
    }
    .header__logo {
        flex: 0 0 50%;
        order: 1;
    }
    .menu {
        flex: 0 0 100%;
        order: 3;
        justify-content: center;
    }
    .menu__list {
        gap: 20px;
        padding-right: 0px;
    }
    .header__button {
        flex: 0 0 50%;
        order: 2;
    }
    .menu__list-link {
        font-size: 14px;
    }
}

@media (max-width: 479.98px) {
    .header__container {
        justify-content: center;
    }
    .menu {
        order: 2;
    }
    .menu__list {
        gap: 20px;
        flex-wrap: wrap;
        padding-right: 0px;
        text-align: center;
    }
    .menu__list-item {
        flex: 0 0 100%;
    }
    .menu__list {
        gap: 20px;
    }
    .header__button {
        flex: 0 0 40px;
        order: 3;
    }
    .menu__list-link {
        font-size: 14px;
    }
    .header__logo {
        min-width: 220px;
        order: 1;
    }
}

/* Hero section */
.hero {
}
.hero__container {
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.hero__container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 267px;
    width: 100vw;
    height: 100%;
    border-radius: 30px 0 0 30px;
    background-color: #EC5863;
    transform: translate(100%, 0px);
}
.hero__content {
    flex: 0 1 48%;
    padding: 0 10px 0 0;
}
.hero__content-block {
    max-width: 400px;
}
.hero__content-video {
    flex: 1 1 100%;
    padding-top: 60px;
}
.content-video {
    display: inline-flex;
    align-items: center;
}
.content-video:hover .content-video__icon {
    box-shadow: 0 0 0 3px #4285F4;
}
.content-video:hover .content-video_title {
    color: #4285F4;
}
.content-video__icon {
    flex: 0 0 44px;
    border-radius: 50%;
    transition: all 0.3s;
}
.content-video__body {
    padding-left: 12px;
}
.content-video_title {
    color: #b0b0b0;
    font-size: 13px;
    line-height: 123.076923%; /* 16/13 */
    letter-spacing: 1px;
    transition: all 0.3s;
}
.content-video_title:not(:last-child) {
    margin-bottom: 5px;
}
.content-video__text {
    color: #000;
    font-size: 9px;
    line-height: 122.222222%; /* 11/9 */
    letter-spacing: 1px;
    text-transform: uppercase;
}
.hero__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}
.hero__image img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .hero__container::before {
        right: 187px;
        border-radius: 20px 0 0 20px;
    }
}

@media (max-width: 767.98px) {
    .hero__container::before {
        display: none;
    }
    .hero__content-block {
        max-width: none;
    }
    .hero__content {
        flex: 1 1 100%;
        padding: 0;
    }
    .hero__image {
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0;
    }
    .hero__content-video {
        padding:0;
        text-align: center;
    }
}

@media (max-width: 479.98px) {
    .hero__container {
        padding-top: 315px;
    }
}

/* Stay-safe section */
.stay-safe {
    padding: 80px 0;
}
.stay-safe__container {
    display: flex;
    align-items: center;
}
.stay-safe__media {
    flex: 0 1 50%;
}
.stay-safe__content {
    flex: 0 1 50%;
}
.media{
}
.media__wrapper {
    width: 373px;
    text-align: center;
    padding: 56px 0 27px 0;
    position: relative;
}
.media__image {
    box-shadow: 2px 4px 32px 0 rgba(0,0,0,.12);
    border-radius: 16px;
    position: relative;
    z-index: 2;
    max-width: 100%;
    width: 61.394102%; /* 229/373 */
}
.media__item {
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px 30px 30px 30px;
    width: 77px;
    height: 77px;
}
.media__item-1 {
    top: 0;
    left: 0;
    width: 147px;
    height: 147px;
}
.media__item-2 {
    bottom: 0;
    left: 32px;
}
.media__item-3 {
    bottom: 107px;
    right: 33px;
}

@media (max-width: 991.98px) {
    .stay-safe {
        padding: 40px 0;
    }
}
@media (min-width: 991.98px) {
    .stay-safe__media {
        padding-left: 48px;
    }
}
@media (max-width: 767.98px) {
    .stay-safe {
        padding: 30px 0;
    }
    .stay-safe__container {
        flex-direction: column-reverse;
    }
    .stay-safe__content {
        margin-bottom: 30px;
    }
}
@media (max-width: 479.98px) {
    .media__wrapper {
        width: 290px;
    }
}

/* Experts section */

.experts {
    padding: 103px 0 116px 0;
}
.experts__container {
}
.experts__statistics {
}
.experts__content{
    display: flex;
    align-items: center;
}
.experts__content-block{
    flex: 0 1 50%;
    padding: 0 20px 0 0;
}
.experts__video-block {
    flex: 0 1 50%;
    position: relative;
    padding: 0 0 30% 0;
}
.experts__video-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 18px 0 rgba(88,126,236,.18);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
}
.statistics {
    max-width: 654px;
    margin: 0 auto 80px;
    position: relative;
}
.statistics__body {
    background-color: #FFFFFF;
    box-shadow: 0 2px 24px 0 rgba(88,126,236,.15);
    border-radius: 16px;
    position: relative;
    z-index: 2;
    padding: 28px 80px;
    display: flex;
    align-items: center;
}
.statistics__item {
    flex: 1 1 auto;
    text-align: center;
}
.statistics__item-title {
    color: #ec5863;
    font-size: 36px;
    font-weight: 700;
    line-height: 119.444444%; /* 43/36 */
    letter-spacing: 5px;
    margin-bottom: 5px;
}
.statistics__item-text {
    color: #000;
    font-size: 11px;
    font-weight: 700;
    line-height: 118.181818%; /* 13/11 */
    letter-spacing: 4px;
    text-transform: uppercase;
}
.statistics__decor{
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
}
.statistics__decor-1 {
    bottom: -21px;
    left: -21px;
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    border-radius: 16px;
}
.statistics__decor-2 {
    top: -39px;
    left: 33%;
    width: 95px;
    height: 95px;
    transform: rotate(105deg);
}
.statistics__decor-3 {
    bottom: -10px;
    right: -50px;
    width: 127px;
    height: 127px;
    transform: rotate(-30deg);
}

@media (max-width: 767.98px) {
    .experts {
        padding: 80px 0 30px 0;
    }
    .experts__content{
        align-items: stretch;
        flex-direction: column;
    }
    .experts__content-block{
        padding: 0;
        margin-bottom: 30px;
    }
    .experts__video-block {
        padding: 0 0 58% 0;
    }
    .statistics {
        margin: 0 auto 50px;
    }
    .statistics__body {
        padding: 25px;
    }
}
@media (max-width: 479.98px) {
    .statistics__body {
       flex-direction: column;
    }
    .statistics__item:not(:last-child) {
        margin-bottom: 20px;
    }
}