@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

body {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    color: #616161;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: clip;
}
.wrapper > main {
    flex: 1 1 auto;
}
.header {
}
.page {
}
.footer {
}

[class*="__container"] {
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px;
}

/* PC */
@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
/* Tablet */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
/* Mobile */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: 550px;
    }
}
/* Mobile Small */
@media (max-width: 424.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

/* Header section */

.header {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50; */
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
}
.header__logo img {
    width: 100%;
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu__list {
    display: flex;
    gap: 40px;
    padding-right: 38px;
}
.menu__list-item {
}
.menu__list-link {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    line-height: 120%; /* 12/10 */
    transition: color 0.3s;
}

.menu__list-link:hover {
    color: #EC5863;
}
.header__button {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 252px;
}
.button {
    display: inline-block;
    padding: 14px 30px;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 800;
    color: #FCFDFE;
    letter-spacing: 1px;
    line-height: 120%; /* 12/10 */
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #EC5863;
    border: 1px solid transparent;
    transition: all 0.3s;
}
.button:hover {
    background-color: #dc2f3b;
}
.button-blue {
    background-color: #4285F4;
}

.button-blue:hover {
    background-color: #FCFDFE;
    color:#4285F4;
    border: 1px solid #4285F4;
}

@media (max-width: 991.98px) {
    .header__container {
        min-height: 80px;
    }
    .menu__list {
        gap: 30px;
        padding-right: 30px;
    }
    .header__button {
        flex: 0 0 172px;
    }
}

@media (max-width: 767.98px) {
    .header__container {
        row-gap: 20px;
        padding: 20px 15px;
    }
    .header__container {
        flex-wrap: wrap;
    }
    .header__logo {
        flex: 0 0 50%;
        order: 1;
    }
    .menu {
        flex: 0 0 100%;
        order: 3;
        justify-content: center;
    }
    .menu__list {
        gap: 20px;
        padding-right: 0px;
    }
    .header__button {
        flex: 0 0 50%;
        order: 2;
    }
    .menu__list-link {
        font-size: 14px;
    }
}

@media (max-width: 479.98px) {
    .header__container {
        justify-content: center;
    }
    .menu {
        order: 2;
    }
    .menu__list {
        gap: 20px;
        flex-wrap: wrap;
        padding-right: 0px;
        text-align: center;
    }
    .menu__list-item {
        flex: 0 0 100%;
    }
    .menu__list {
        gap: 20px;
    }
    .header__button {
        flex: 0 0 40px;
        order: 3;
    }
    .menu__list-link {
        font-size: 14px;
    }
    .header__logo {
        min-width: 220px;
        order: 1;
    }
}